<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="header-footer-wrapper">

    <div class="footer-col-start">
      <div class="screen"> Xu Group </div>
      {%- include social.html -%}
    </div>

    <div class="footer-col-middle screen">
      <a href="https://www.tamu.edu/" target="_blank">TAMU</a>
      <a href="https://physics.tamu.edu/" target="_blank">Physics & Astronomy</a>
    </div>

    <div class="footer-col-middle palm">
      <a href="https://www.tamu.edu/" target="_blank">TAMU</a>
      <a href="https://physics.tamu.edu/" target="_blank">PhysAstr</a>
    </div>

    <div class="footer-col-end">
      <i id='toggle-theme' class="fa-solid fa-circle-half-stroke"></i>
    </div>

    <!-- <div class="footer-col-wrapper"> -->
      <!-- <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div> -->
    <!-- </div> -->

  </div>

</footer>
