---
layout: default
---
<div class="people-group">
<h1  class="group-head">Principle Investigator</h1>
<div class="people">
  <div class="profile">
    <img src="{{ "/assets/imag/people/sx.png" | relative_url }}">
  </div>
  <div class="people-info">
    <h2> {{site.data.members.pi.name}}</h2>
    <p>{{site.data.members.pi.title}}</p>
    <P>{{site.data.members.pi.affiliation}}</P>
    <p><span style="margin-right: 20px;">Office: {{site.data.members.pi.office}}</span> 
      <span style ="text-wrap: nowrap;">Email: {{site.data.members.pi.email}}</span>
    </p>
  </div>
</div>
</div>

<div class="people-group">
<h1 class="group-head">Graduate Students</h1>
  {% for member in site.data.members.grad %}
  <div class="people">
    <!-- <div class="profile">
      <img src="{{ "/assets/imag/people/sx.png" | relative_url }}">
    </div> -->
    <div class="people-info">
      <h2> {{member.name}}</h2>
      <p><span style="margin-right: 20px;">Office: {{member.office}}</span> 
        <span style ="text-wrap: nowrap;">Email: {{member.email}}</span>
      </p>
    </div>
  </div>
  {% endfor %}
</div>

<div class="people-group">
  <h1 class="group-head">Undergraduate Students</h1>
    {% for member in site.data.members.undergrad %}
    <div class="people">
      <!-- <div class="profile">
        <img src="{{ "/assets/imag/people/sx.png" | relative_url }}">
      </div> -->
      <div class="people-info">
        <h2> {{member.name}}</h2>
        <!-- <p><span style="margin-right: 20px;">Office: {{member.office}}</span> 
          <span style ="text-wrap: nowrap;">Email: {{member.email}}</span>
        </p> -->
      </div>
    </div>
    {% endfor %}
</div>


<div class="people-group">
  <h1 class="group-head">Alumni</h1>
    {% for member in site.data.members.alumni %}
    <div class="people">
      <!-- <div class="profile">
        <img src="{{ "/assets/imag/people/sx.png" | relative_url }}">
      </div> -->
      <div class="people-info">
        <h2> {{member.name}}</h2>
        <p>{{member.job}}</p>
        <p><b>Thesis:</b> {{member.thesis}}</p>
        <!-- <p><span style="margin-right: 20px;">Office: {{member.office}}</span> 
          <span style ="text-wrap: nowrap;">Email: {{member.email}}</span>
        </p> -->
      </div>
    </div>
    {% endfor %}
</div>


